body {
    background-image: url(https://images.unsplash.com/photo-1682176837690-ba1052e7cd66?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover ;
}

h1 {
    text-align: right;
    margin-right: 20px;
    color: white;
}

#title {
    margin-top: 300px;
    text-align: center;
    font-size: 45px;
}

p {
    text-align: right;
    margin-right: 10px;
    color: white;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 300px;
}

#note {
    font-size: 30px;
    text-align: center;
}